div#slide_captcha_image {
	position: relative;
	height: 50px;
}
	#slide_captcha_image div {
		background-repeat: repeat-x;
		width: 250px;
	}
	#slide_captcha_track {
		width: 250px;
		background-color: #aaa;
		height: 5px;
		margin: 5px 0 20px;
	}
	#slide_captcha_handle {
		width: 10px;
		height: 20px;
		background-color: #f00;
	}