div#slide_captcha_image {
	position: relative;
	height: 50px;
}
	#slide_captcha_image div {
		background-repeat: repeat-x;
		width: 250px;
		height: 25px;
	}
		#slide_captcha_top { background-position: 0 0; }
		#slide_captcha_bottom { background-position: 0 -25px; }
	#slide_captcha_track {
		width: 200px;
		background-color: #aaa;
		height: 5px;
	}
	#slide_captcha_handle {
		width: 5px;
		height: 10px;
		background-color: #f00;
	}